@import "./.shared.constants.less";

header {
    padding-bottom: 2.4rem;
    h1 {
        img {
            height: 3.9rem;
            width: 3.9rem;
        }
    }
}

#wallet-info {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    #wallet-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 600px;
        padding: 0.5rem 1.5rem;
        font-size: 1.1rem;
        .wallet-section {
            h4 {
                font-size: 1.2rem;
                padding-bottom: 0.6rem;
            }
            .wallet-key-or-address {
                word-break: break-all;
                font-family: monospace;
                font-size: 1rem;
            }
        }
    }
}

.rainbow {
    font-size: 2.3rem;
}

.counter-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem 0 2rem;
    font-weight: 500;
    .counter-card {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        min-width: 300px;
        padding: 1.5rem;
        border-radius: @radius;
        > div {
            display: flex;
            justify-content: space-between;
            > div {
                padding: 0.3rem 0.5rem;
                border-radius: 0.5rem;
            }
        }
        &.current {
            background-image: linear-gradient(to bottom, rgb(97, 186, 213), rgb(29, 107, 127));
            .counter-epoch {
                background-color: rgb(29, 107, 127);
            }
        }
        &.register {
            background-image: linear-gradient(to bottom, rgb(216, 195, 72), rgb(142, 121, 0));
            .counter-epoch {
                background-color: rgb(142, 121, 0);
            }
        }
        &.claim {
            background-image: linear-gradient(to bottom, rgb(101, 202, 91), rgb(33, 104, 30));
            .counter-epoch {
                background-color: rgb(33, 104, 30);
            }
        }
        &.delete {
            background-image: linear-gradient(to bottom, rgb(213, 97, 97), rgb(127, 29, 29));
            .counter-epoch {
                background-color: rgb(127, 29, 29);
            }
        }
    }
}
